<<<<<<< HEAD
<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId"/>
=======
<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="2016-dds-utn-k3054-g14">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <property name="java-output-path" value="/2016-dds-utn-k3054-g14/target/classes"/>
        <property name="context-root" value="2016-dds-utn-k3054-g14"/>
    </wb-module>
</project-modules>
>>>>>>> branch 'master' of https://gitlab.com/DDS-UTN-FRBA/2016-dds-utn-k3054-g14.git
